<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.boredApplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.boredApplication.Views.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ambored"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ambored_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AmBored">
        <activity
            android:name="com.example.boredApplication.Views.SplashScreenActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.boredApplication.Views.ListActivitesSearchedActivity"
                  android:launchMode="singleTop"
                  android:exported="false"
                  tools:node="merge"/>
        <activity android:name="com.example.boredApplication.Views.MainMenuActivity"
                  android:launchMode="singleTop"
                  android:exported="false"
                  tools:node="merge"/>
        <activity android:name="com.example.boredApplication.Views.SearchForTaskActivity"
            android:launchMode="singleTop"
            android:exported="false"
            tools:node="merge"/>
        <activity android:name="com.example.boredApplication.Views.AboutUsActivity"
            android:launchMode="singleTop"
            android:exported="false"
            tools:node="merge"/>
    </application>
</manifest>